@{
    ViewData["Title"] = "Sobre nosotros";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
<h1>@ViewData["Title"]</h1>
<br />
</div>
<hr />
<div class="container">
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">B</span>ienvenidos a nuestra página de "Sobre Nosotros".
        Somos dos estudiantes de informática apasionados por el mundo de
        las mascotas y queremos presentarte nuestra aplicación móvil que
        tiene como objetivo ayudar a las mascotas a encontrar amigos y
        reducir su estrés durante los paseos diarios.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">N</span>uestra aplicación de Android se llama "<b>TinPet</b>" y fue desarrollada
        después de que nos dimos cuenta de que muchas veces las mascotas,
        al igual que las personas, necesitan socializar y hacer amigos.
        Las mascotas también pueden sufrir de estrés y aburrimiento al
        no tener con quién interactuar en sus paseos diarios, lo que 
        puede llevar a comportamientos no deseados en el hogar. 
        Con nuestra aplicación, queremos cambiar eso y ayudar a 
        las mascotas a conectarse entre sí y hacer nuevos amigos.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">¿</span>Cómo funciona <b>TinPet</b>? Es muy sencillo.
        Los dueños de mascotas pueden crear perfiles de sus mascotas y agregar información como su nombre,
        edad, raza y personalidad. También pueden agregar fotos y videos para mostrar la personalidad de
        sus mascotas. Luego, pueden buscar en la aplicación otros perfiles de mascotas que estén cerca de
        ellos y que compartan intereses similares. Una vez que encuentren una mascota compatible, pueden
        enviar un mensaje al dueño de esa mascota para establecer una cita de juego y permitir que sus
        mascotas se conozcan y hagan amistad.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">A</span>demás, nuestra aplicación también ofrece una función de "chat" para que los dueños de mascotas puedan
        mantenerse en contacto y organizar futuras citas de juego. La aplicación también tiene una función de
        "calificación" para que los dueños de mascotas puedan dejar comentarios sobre las citas de juego
        y compartir su experiencia con otros dueños de mascotas en la aplicación.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">¿</span>Quiénes somos nosotros, los creadores de <b>TinPet</b>? Somos dos estudiantes de informática, Andrés y Rodrigo,
        apasionados por el mundo de las mascotas. Nos conocimos en la universidad y nos dimos cuenta de que
        compartimos una visión común: queríamos crear algo que ayudara a las mascotas a tener una vida más
        feliz y saludable. Después de muchos meses de trabajo duro, lanzamos <b>TinPet</b>, nuestra aplicación
        móvil que conecta a mascotas de todo el mundo y ayuda a reducir el estrés en los paseos diarios.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px; font-size:30px">N</span>os enorgullece decir que <b>TinPet</b> ha sido bien recibida por los dueños de mascotas de todo el mundo.
        Nos encanta ver cómo nuestras mascotas y las de otros dueños hacen amistades gracias a nuestra aplicación.
        También nos encanta escuchar las historias de éxito de nuestros usuarios, como mascotas que se han conocido 
        a través de TinPet y ahora son inseparables.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">E</span>n resumen, TinPet es una aplicación móvil diseñada para ayudar a las mascotas a hacer amigos
        y reducir el estrés en los paseos diarios. Somos dos estudiantes de informática apasionados por 
        el mundo de las mascotas que queremos hacer una diferencia en la vida de las mascotas de todo el mundo.
        Esperamos que disfrutes usando TinPet tanto como nosotros disfrutamos creándola. ¡Únete a nuestra comunidad de <b>TinPet</b> hoy!
    </p>
</div>
<br />
<br />
<!-- Team section-->
<div class="container text-center text-white" id="maincont">
    <br />
<h1 style="font-family:'Abril Fatface'">Nuestro equipo</h1>
<br />
</div>
<hr />
<div class="row text-center">
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://avatars.githubusercontent.com/u/101130012?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Andrés González</h5>
            <span></span>
            <br />
            <span class="small text-uppercase text-muted">Backend developer</span>
            <ul class="social mb-1 list-inline mt-3">
                <li class="list-inline-item">
                    <a href="https://github.com/Radanes7512" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=62856&format=png" width="30" height="30" />
                    </a>
                </li>                
                <li class="list-inline-item">
                    <a href="https://gitlab.com/Andres.Gonzalez_" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=34886&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com/radamanes" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=32323&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="mailto:apptinpet@gmail.com" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=37246&format=png" width="30" height="30" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End-->
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://avatars.githubusercontent.com/u/93038212?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Rodrigo Domínguez</h5>
            <span>(LambdaR)</span>
            <br />
            <span class="small text-uppercase text-muted">FrontEnd Developer</span>
            <ul class="social mb-1 list-inline mt-3">
                <li class="list-inline-item">
                    <a href="https://github.com/Royvao" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=62856&format=png" width="30" height="30" />
                    </a>
                </li>                
                <li class="list-inline-item">
                    <a href="https://gitlab.com/LambdaR" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=34886&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com/royvao" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=32323&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="mailto:apptinpet@gmail.com" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=37246&format=png" width="30" height="30" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End-->
</div>
<!-- End-->
<br />
<div style="text-align:right;">
    <a class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }
    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }
</style>

