@{
	ViewData["Title"] = "Inicio";
}

<br />
<div class="container text-center text-white" id="maincont">
	<br />
	<br />
	<h1>
		¿Te gustaría que tu mascota tuviera más amigos?
	</h1>
	<h3 >
		¿Quieres que disfrute de sus paseos al máximo?
	</h3>
	<p>
		¡Únete a la comunidad de amantes de los animales!
	</p>
	<a href="https://acortar.link/p09iLf" id="btn" onmouseover="changeText('Descargando...')" onmouseout="restoreText('Descargar')">Descargar</a>
	<br />
	<br />
</div>
<br />
<br />
<div class="container text-center" id="carrcont">
	<br />
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="img/Tinpet_Start.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Login.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Signup.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Signup2.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Home.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Places.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Places2.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Settings.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Petitions.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Friends.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Notify.png" width="290" height="500">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
	<br />
</div>
<br />
<br />
<div class="container text-center text-dark">
	<p>
		Descárgala ya y empieza a vivir nuevas aventuras con tu mascota.
	</p>
	<img src="img/qr-code.png"  width="100" height="100"/>
</div>
<br />
<br />
<br />
<div style="text-align:right;">
	<a class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<style>
	#maincont {
		background-image: url('img/body_bg.jpg');
		background-size: cover;
		background-repeat: round;
		background-position: center center;
		background-attachment: fixed;
		background-color: rgba(0, 0, 0, 0.8);
	}

	#btn {
		display: inline-block;
		padding: 0.75rem 1.5rem;
		font-size: 1.25rem;
		border-radius: 0.5rem;
		background-color: #fac710;
		color: white;
		text-decoration: none;
		transition: background-color 0.3s ease;
	}

	#btn:hover {
		background-color: #ff6f00;
	}

	#carrcont {
			background-image: url('img/dogs_bg.jpg');
			background-size:cover;
			background-repeat:round;
			background-position: center center;
			background-attachment: fixed;
			background-color: rgba(0, 0, 0, 0.8); /* Aquí puedes ajustar la opacidad cambiando el valor 0.5 */
		}
</style>
<script>
	function changeText(downloading) {
		document.getElementById('btn').innerHTML = downloading
	}
	function restoreText(download) {
		document.getElementById('btn').innerHTML = download
	}
</script>

