@{
	ViewData["Title"] = "Inicio";
}
<br>
	<div class="conainter text-center">
		<h5>
			¿Te gustaría que tu mascota tuviera más amigos?
			<br />
			¿Quieres que disfrute de sus paseos al máximo?
		</h5>
		<br />
		<p>
		Te presentamos TinPet, la nueva aplicación
		para móvil que te ayudará a encontrar otros perros cerca de ti.
		<br />
		Con TinPet, puedes crear el perfil de tu mascota, ver los perfiles
		de otros perros, y contactar con sus dueños para organizar encuentros.
		Así, tu mascota podrá socializar con otros perros y
		tú podrás conocer a personas que comparten tu amor por los animales.
		TinPet es fácil de usar, segura y divertida.
		<br />

	</p>
	</div>

<hr />

<br />
<br />
<div class="container text-center">    
   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	   <div class="carousel-inner">
			<div class="carousel-item active">
				<img src="img/Tinpet_Start.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Login.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Signup.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Signup2.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Home.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Places.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Places2.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Settings.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Petitions.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Friends.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Notify.png" width="290" height="500">
			</div>            
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
</div>
<br />
<br />
<br />
<div class="container text-center">
	<p>
		<a 
            class="text-dark" 
            href="https://github.com/Radanes7512/Tinpet_TFG/releases/download/1.0.0/tinpet-1.0.0.apk">
			Descárgala</a> ya y empieza a vivir nuevas aventuras con tu mascota.
	</p>
	<img src="img/qr-code.png"  width="100" height="100"/>
</div>
<br />
<br />
<br />

