@{
	ViewData["Title"] = "Inicio";
}

<br />
<div class="container text-center text-white" id="maincont">
	<br />
	<br />
	<h1>
		¿Te gustaría que tu mascota tuviera más amigos?
	</h1>
	<h3 >
		¿Quieres que disfrute de sus paseos al máximo?
	</h3>
	<p>
		¡Únete a la comunidad de amantes de los animales!
	</p>
	<a href="https://acortar.link/taIWuL" id="btnIndex" onClick="changeText('Descargando...')">Descargar</a>
	<br />
	<br />
</div>
<br />
<br />
<div class="container text-center" id="carrcontIndex">
	<br />
	<div id="carouselIndex" class="carousel carousel-fade slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-mdb-interval="5000">
				<img src="img/Tinpet_Index.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Login.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Register.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Home.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Places.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Petprofile.png" width="290" height="500">
			</div>
			<div class="carousel-item">
				<img src="img/Tinpet_Settings.png" width="290" height="500">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselIndex" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselIndex" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
	<br />
</div>
<br />
<br />
<div class="container text-center text-dark">
	<p>
		Descárgala ya y empieza a vivir nuevas aventuras con tu mascota.
	</p>
	<img src="img/qr-code.png"  width="100" height="100"/>
</div>
<br />
<br />
<br />
<div style="text-align:right;">
	<a class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<script>
	var btn = document.getElementById('btn');
	function changeText(downloading) {
		btn.innerHTML = downloading
		btn.style.backgroundColor="#ff6f00";
		setTimeout(
			function(){
				btn.innerHTML = "Descargar";
				btn.style.backgroundColor = "#fac710";
			},5000
		);
	}
</script>

