@{
    ViewData["Title"] = "Política de privacidad";
}
<br />
<div class="container text-center text-white" id="maincont">
<br />
<h1>@ViewData["Title"]</h1>
<br />
</div>
<hr />
<div class="container">
    <p style="text-align: justify;" >
    En  <b>TINPET</b>, nos tomamos muy en serio la privacidad de nuestros visitantes y usuarios.
    Por lo tanto, hemos creado esta política de privacidad para informarte sobre cómo recopilamos,
    utilizamos y protegemos tu información personal.
    </p>
    <br />
    <h4>1. Recopilación de información</h4>
    <p style="text-align: justify;">    
    Cuando visitas <b>TINPET</b>, recopilamos cierta información de forma automática,
    como la dirección IP, el tipo de navegador, el idioma del navegador,
    la fecha y hora de la visita, y el sitio web desde el que se llegó a nuestra página.
    También podemos utilizar cookies y tecnologías similares para recopilar
    información sobre tu uso de nuestra página.    
    <br />
    Además, si te registras en nuestro sitio o te suscribes a nuestro boletín informativo,
    podemos recopilar información personal como tu nombre, dirección de correo electrónico
    y otra información que decidas proporcionarnos.
    </p>
    <br />
    <h4>2. Uso de información</h4>
    <p style="text-align: justify;">
    La información que recopilamos se utiliza para mejorar la experiencia
    del usuario en nuestro sitio, personalizar el contenido y las promociones
    que se te muestran, y enviarte información relevante sobre nuestros servicios.
    <br />
    No compartimos tu información personal con terceros, excepto en los casos en que
    sea necesario para proporcionarte un servicio que hayas solicitado,
    como el envío de un boletín informativo.
    </p>
    <br />
    <h4>3. Protección de la información</h4>
    <p style="text-align: justify;">
    Nos tomamos muy en serio la seguridad de la información de nuestros usuarios y visitantes.
    Por lo tanto, implementamos medidas técnicas y organizativas para proteger tu información
    personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción.
    </p>
    <br />
    <h4>4. Tus derechos</h4>
    <p style="text-align: justify;">
    Como usuario de  <b>TINPET</b>, tienes ciertos derechos con respecto a tus datos personales.
    Puedes solicitar el acceso a tus datos personales, corregirlos si son inexactos,
    solicitar su eliminación o restringir su procesamiento.
    </p> 
    <br />
    <h4>5. Cambios a la política de privacidad</h4>
    <p style="text-align: justify;">
    Nos reservamos el derecho de cambiar esta política de privacidad en cualquier momento.
    Cualquier cambio se publicará en esta página y, si es necesario, se te notificará por correo electrónico.
    </p>
    <br />
    <p style="text-align: justify;">
    Si tienes alguna pregunta o comentario sobre nuestra política de privacidad, por favor contáctanos.
    </p>
</div>
<br />
<br />
<div style="text-align:right;">
    <a class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
