@{
    ViewData["Title"] = "Proyecto Final CFGS";
}

<br />
<div class="container text-center text-white" id="maincont">
    <br />
    <h1>@ViewData["Title"]</h1>
    <br />
</div>
<hr />
<div class="container">
    <h3>Introducción</h3>
    <p style="text-align: justify;">
        
        La aplicación móvil se basará en un algoritmo que tendrá en
        cuenta las características físicas, el comportamiento, la salud
        y las preferencias de cada mascota, así como la ubicación geográfica y la disponibilidad de los usuarios.<br /> 
        La aplicación móvil también ofrecerá otras funcionalidades, como un chat privado o un mapa interactivo
        con parques y áreas caninas.<br />
        El proyecto se desarrollará siguiendo una metodología ágil, con iteraciones cortas y entregas semanales con revisión de código.<br />
        El equipo de trabajo estará formado por dos alumnos.<br />
        El proyecto tendrá una duración estimada de seis meses.
    </p>
    <br />
    <h3>Objetivo</h3>
    <p style="text-align: justify;">
        Facilitar el proceso de emparejamiento entre los dueños de mascotas que desean encontrar
        una pareja para sus animales domésticos, ya sea para fines reproductivos o sociales.<br />
    </p>
    <br />
    <h3>Título</h3>
    <p style="text-align: justify;">Contenido</p>
    <br />
    <h3>Título</h3>
    <p style="text-align: justify;">Contenido</p>
</div>
<br />
<div style="text-align:right">
    <a class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>