@{
    ViewData["Title"] = "Sobre nosotros";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>¿Qué es TinPet?</h1>
<br />
</div>
<hr />
<div class="container">
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">Q</span>ueremos presentarte nuestra aplicación móvil,
        diseñada para los apasionados por el mundo de las mascotas.
        Tiene como objetivo ayudarlas a encontrar amigos y
        reducir su estrés durante los paseos diarios. 
        
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">T</span><b>inPet</b> fue desarrollada
        tras darnos cuenta de que muchas veces las mascotas,
        al igual que las personas, necesitan socializar y hacer amigos.
        También pueden sufrir estrés y aburrimiento al
        no tener con quién interactuar en sus paseos diarios, lo que 
        puede llevar a comportamientos no deseados en el hogar. 
        Con nuestra aplicación, queremos cambiar eso y ayudar a
        nuestras mascotas a conectarse entre sí.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">E</span>l funcionamiento de <b>TinPet</b> es muy sencillo.
        Los dueños pueden crear perfiles de sus mascotas y agregar información como su nombre,
        edad y categorías. También pueden agregar una foto para mostrar su personalidad.
        Luego, pueden encontrar en la aplicación otros perfiles que estén cerca de
        ellos y que compartan intereses similares.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">A</span>demás, nuestra aplicación también ofrece una función de "chat" para que 
        una vez que encuentren una mascota compatible, los dueños se puedan
        poner en contacto y organizar futuras citas de juego.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">L</span>os creadores de <b>TinPet</b> somos dos estudiantes de informática, Andrés y Rodrigo.
        Nos conocimos en una formación y nos dimos cuenta de que
        compartimos una visión común: queríamos crear algo que ayudara a las mascotas a tener una vida más
        feliz y saludable. Después de muchos meses de trabajo duro, lanzamos <b>TinPet</b>, nuestra aplicación
        móvil que conecta a mascotas de todo el mundo y da visibilidad a parques y áreas caninas. 
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px; font-size:30px">N</span>os enorgullece decir que nuestra aplicación
        ha sido bien recibida por los que ya han podido probarla.
        Nos encanta ver cómo las mascotas hacen amistades gracias a nuestra aplicación.
        También nos encanta escuchar las historias de éxito de nuestros usuarios, como mascotas que se han conocido 
        a través de <b>TinPet</b> y ahora son inseparables.
    </p>
    <br />
    <p style="text-align: justify;">
        <span style="font-family:'Abril Fatface'; font-size:30px">E</span>speramos que disfrutes usando
        <b>TinPet</b> tanto como nosotros hemos disfrutamos creándola.
        ¡Únete ya a la comunidad de <b>TinPet</b>!
    </p>
</div>
<br />
<div style="text-align:right;">
    <a class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }    
</style>

