@{
    ViewData["Title"] = "Sobre nosotros";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>¿Qué es TinPet?</h1>
<br />
</div>
<hr />
<div class="container">
    <p style="text-align: justify;">
        Queremos presentarte nuestra aplicación móvil,
        diseñada para los apasionados por el mundo de las mascotas.
        Tiene como objetivo ayudarlas a encontrar amigos y
        reducir su estrés durante los paseos diarios. 
        
    </p>
    <br />
    <p style="text-align: justify;">
        Tinpet fue desarrollada
        tras darnos cuenta de que muchas veces las mascotas,
        al igual que las personas, necesitan socializar y hacer amigos.
        También pueden sufrir estrés y aburrimiento al
        no tener con quién interactuar en sus paseos diarios, lo que 
        puede llevar a comportamientos no deseados en el hogar. 
        Con nuestra aplicación, queremos cambiar eso y ayudar a
        nuestras mascotas a conectarse entre sí.
    </p>
    <br />
    <p style="text-align: justify;">
        El funcionamiento de TinPet es muy sencillo.
        Los dueños pueden crear perfiles de sus mascotas y agregar información como su nombre,
        edad y categorías. También pueden agregar una foto para mostrar su personalidad.
        Luego, pueden encontrar en la aplicación otros perfiles que estén cerca de
        ellos y que compartan intereses similares.
    </p>
    <br />
    <p style="text-align: justify;">
        Además, nuestra aplicación también ofrece una función de "chat" para que 
        una vez que encuentren una mascota compatible, los dueños se puedan
        poner en contacto y organizar futuras citas de juego.
    </p>
    <br />
    <p style="text-align: justify;">
        Los creadores de TinPet somos dos estudiantes de informática, Andrés y Rodrigo.
        Nos conocimos en una formación y nos dimos cuenta de que
        compartimos una visión común: queríamos crear algo que ayudara a las mascotas a tener una vida más
        feliz y saludable. Después de muchos meses de trabajo duro, lanzamos TinPet, nuestra aplicación
        móvil que conecta a mascotas de todo el mundo y da visibilidad a parques y áreas caninas. 
    </p>
    <br />
    <p style="text-align: justify;">
        Nos enorgullece decir que nuestra aplicación
        ha sido bien recibida por los que ya han podido probarla.
        Nos encanta ver cómo las mascotas hacen amistades gracias a nuestra aplicación.
        También nos encanta escuchar las historias de éxito de nuestros usuarios, como mascotas que se han conocido 
        a través de TinPet y ahora son inseparables.
    </p>
    <br />
    <p style="text-align: justify;">
        Esperamos que disfrutes usando la aplicación tanto como nosotros hemos disfrutamos creándola.
        ¡Únete ya a la comunidad de TinPet!
    </p>
</div>
<br />
<div style="text-align:right;">
    <a id="scrollButton" class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />
<script>
// Obtener una referencia al botón
  var scrollButton = document.getElementById('scrollButton');
  
  // Función para actualizar la visibilidad del botón
  function updateButtonVisibility() {
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
      // Se ha hecho scroll: mostrar el botón
      scrollButton.style.display = 'inline-block';
    } else {
      // No se ha hecho scroll: ocultar el botón
      scrollButton.style.display = 'none';
    }
  }

  // Actualizar la visibilidad del botón al cargar la página
  updateButtonVisibility();

  // Actualizar la visibilidad del botón cuando se hace scroll
  window.onscroll = updateButtonVisibility;
</script>
