@{
    ViewData["Title"] = "Alcance";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>Alcance del proyecto</h1>
<br />
</div>

<hr />

<div class="container">
    <h4>Funcionalidades</h4>
    <p style="text-align: justify;">
        El alcance del proyecto ha sido replanteado ya que al querer implementar tecnologías nuevas como 
        "<i>Jetpack Compose</i>" y "<i>Kotlin</i>" como lenguaje de programación nos hemos visto forzados a cambiar las 
        direcciones especificadas en el anteproyecto prevaleciendo las funcionalidades más solidas a nuestro parecer.
    </p>
    <br />
    <ul>
        <li><b>Propuestas de preproyecto</b></li>
        <p style="text-align: justify;">
           Estas son todas las propuestas iniciales:
            <ul>
                <li>Registro de usuarios y mascotas</li>
                <li>Localización GPS</li>
                <li>Mensajería por chat</li>
                <li>Peticiones de amistad</li>
                <li>Opción "Cerca de mí"</li>
                <li>Búsqueda por categorías</li>
                <li>Amistades</li>
                <li>Valoraciones</li>
                <li>Lugares más transitados</li>
                <li>Estado de actividad</li>
            </ul>
        </p>
    </ul>
</div>
<br />
<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
