@{
    ViewData["Title"] = "Alcance del proyecto";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>Alcance del proyecto</h1>
<br />
</div>

<hr />

<div class="container">
    <h4>Funcionalidades</h4>
    <p>
        El alcance del proyecto ha sido replanteado ya que al querer implementar tecnologias nuevas como 
        "<i>Jetpack Compose</i>" y "<i>Kotlin</i>" como lenguaje de programacion nos hemos visto forzados a cambiar las 
        direcciones especificadas en el anteproyecto prevaleciendo las funcionalidades mas solidas a nuestro parecer.
    </p>
    <br />
    <ul>
        <li><b>Propuestas de preproyecto</b></li>
        <p>
           Estas son todas las propuestas hechas listadas en el proproyecto:
            <ul>
                <li>
                    Registro de usuarios y mascotas
                </li>
                <li>Localización GPS</li>
                <li>Mensajería por chat</li>
                <li>Peticiones de amistad</li>
                <li>Opcion "Cerca de mí"</li>
                <li>Búsqueda por categorías</li>
                <li>Amigos</li>
                <li>Valoraciones</li>
                <li>Lugares más transitados</li>
                <li>Estado de actividad </li>
            </ul>
        </p>
    </ul>
</div>

<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
