@{
    ViewData["Title"] = "Ventajas e inconvenientes";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>Ventajas e inconvenientes</h1>
<br />
</div>

<hr />

<div class="container">
    <h4>Ventajas</h4>
        <p style="text-align: justify;">Las ventajas encontradas...</p>
    <h4>Desventajas</h4>
        <p style="text-align: justify;">Las desventajas encontradas...</p>
</div>

<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
