@{
    ViewData["Title"] = "Firebase";
}

<br />
<div class="container text-center text-white" id="maincont">
    <br />
    <h1>Base de datos Firebase</h1>
    <br />
</div>
<hr />

<div class="container">
    <h4>Funcionalidades</h4>
    <p>Firebase es un servicio OnLine relacionado con la creacion y gestion de bases de datos NoSQL remoto, con diferentes funcionalidades de almacenaje de datos y gestion de informacion como:</p>
    <br />
    <ul>
    <li><b>Firebase Autentication</b></li>
        <p>Firebase autentication es una funcionalidad
            que utilizamos para almacenar un registro
            y verificacion de las cuentas de correo que entran en la aplicacion.
        </p>
    
        <li><b>CLoud Firestore</b></li>
        <p>
           Cloud Firestore es una funcionalidad empleada en guardar todos los datos que tenemos de la aplicacion (Usuarios, Lugares transitados, Conversaciones de chat y peticiones de amistad pendientes. )
        </p>
    <li><b>Storage</b></li>
    <p>La funcionalidad Storage la empleamos para el almacenaje de imagenes de los usuarios y su generacion de links para mostrarlas en la aplicacion, esta funcionalidad permite el almacenaje de cualquier tipo de archivo</p>
</ul>

    <p style="text-align: justify;"></p>

</div>

<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>


