@{
    ViewData["Title"] = "Jetpack Compose";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>Jetpack Compose</h1>
<br />
</div>

<hr />

<div class="container">
    <h4>Definición</h4>
        <p style="text-align: justify;">Jetpack Compose es un conjunto de herramientas
            que <i>Android</i> ofrece para desarrollar aplicaciones en <i>Kotlin</i> de
            forma más sencilla y con menos código, de forma declarativa.
        </p>
    <h4>Uso</h4>
    <p style="text-align: justify;">El uso es...</p>
</div>

<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>
