@{
	ViewData["Title"] = "Proyecto";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>Proyecto Final CFGS</h1>
<br />
</div>

<hr />

<div class="container">
	<h4>Definición</h4>
	<p style="text-align: justify;">
		En este apartado se comentara las funciones principales de cada objetivo conseguido del proyecto en relacion a <i>Backend</i> de la aplicacion.
	</p>
	<p style="text-align: justify;">
		<ul>
			<li><b>Funcionalidades principales</b></li>
			<p>
				Este es el listado de las funcionalidades del proyecto:
				<ul>
					<li>Registro de de usuarios y mascotas</li>
					<li>Peticiones de amistad</li>
					<li>Chat en tiempo real</li>
					<li>Mapa Google Maps</li>
				</ul>
			</p>
	</p>

	<h4>Código</h4>
	<p style="text-align: justify;">
		Cada diapositiva se muestra las funciones mas relevantes del codigo.
	</p>
	<div class="container text-center" id="carrcont">
		<br />
		<div id="carouselBackEnd" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<!-- Login -->
					<img src="~/img/Fun_Login.png" width="290" height="500">
					<!-- Registro -->
					<img src="~/img/Fun_Register.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- VerPeticiones -->
					<img src="~/img/Fun_CheckFr.png" width="290" height="500">
					<!-- ActualizaPeticiones -->
					<img src="~/img/Fun_UpdateFr.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- ObtenerUsuarios -->
					<img src="~/img/Fun_GetUsers.png" width="290" height="500">
					<!-- EnviarMensajes -->
					<img src="~/img/Fun_SendMsg.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- CrearSitioesFirebase -->
					<img src="~/img/Fun_Places.png" width="290" height="500">
					<!-- GuardarDatosFirebase -->
					<img src="~/img/Fun_LoadPlaces.png" width="290" height="500">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselBackEnd" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselBackEnd" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</a>
		</div>
		<br />
	</div>
</div>

<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>


