@{
	ViewData["Title"] = "Proyecto";
}

<br />
<div class="container text-center text-white" id="maincont">
<br />
    <h1>Proyecto Final CFGS</h1>
<br />
</div>
<hr />
<div class="container">
	<h4>Kotlin</h4>
	<p style="text-align: justify;">
		Es el lenguaje elegido para desarrollar la aplicación
		por su nivel de actualización y por la oportunidad
		que nos ha dado de estudiar y
		aprender una nueva tecnologia. Además hemos podido sumergirnos en la programación gracias
		a su amplia documentación ofrecida por <i>Google</i>.
	</p>
	<h4>Back End</h4>
	<p style="text-align: justify;">
		Funcionalidades principales:
		<ul>
			<li>Registro de de usuarios y mascotas</li>
			<li>Peticiones de amistad</li>
			<li>Chat en tiempo real</li>
			<li>Mapa Google Maps</li>
		</ul>
	</p>

	<h4>Código</h4>
	<p style="text-align: justify;">
		En estas diapositivas se muestran las funciones más relevantes.
	</p>
	<br />
	<div class="container text-center" id="carrcontBack">
		<br />

		<!-- Carrusel para pantallas grandes -->
		<div id="carouselLarge" class="carousel slide carrusel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<!-- Login -->
					<img src="~/img/Fun_Login.png" width="290" height="500">
					<!-- Registro -->
					<img src="~/img/Fun_Register.png"  width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- VerPeticiones -->
					<img src="~/img/Fun_CheckFr.png" width="290" height="500">
					<!-- ActualizaPeticiones -->
					<img src="~/img/Fun_UpdateFr.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- ObtenerUsuarios -->
					<img src="~/img/Fun_GetUsers.png" width="290" height="500">
					<!-- EnviarMensajes -->
					<img src="~/img/Fun_SendMsg.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- CrearSitioesFirebase -->
					<img src="~/img/Fun_Places.png" width="290" height="500">
					<!-- GuardarDatosFirebase -->
					<img src="~/img/Fun_LoadPlaces.png" width="290" height="500">
				</div>
			</div>
			<br />
			<a href="#carouselLarge" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</a>
			<a href="#carouselLarge" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</a>
		</div>

		<!-- Carrusel para pantallas pequeñas -->
		<div id="carouselSmall" class="carousel slide carrusel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<!-- Login -->
					<img src="~/img/Fun_Login.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- Registro -->
					<img src="~/img/Fun_Register.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- VerPeticiones -->
					<img src="~/img/Fun_CheckFr.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- ActualizaPeticiones -->
					<img src="~/img/Fun_UpdateFr.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- ObtenerUsuarios -->
					<img src="~/img/Fun_GetUsers.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- EnviarMensajes -->
					<img src="~/img/Fun_SendMsg.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- CrearSitioesFirebase -->
					<img src="~/img/Fun_Places.png" width="290" height="500">
				</div>
				<div class="carousel-item">
					<!-- GuardarDatosFirebase -->
					<img src="~/img/Fun_LoadPlaces.png" width="290" height="500">
				</div>
			</div>
			<br />
			<a  href="#carouselSmall" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</a>
			<a href="#carouselSmall" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</a>
		</div>
		<br />
	</div>
</div>
<br />
<br />

<div style="text-align:right">
    <a id="scrollButton" class="btn btn-outline-warning" href="#">Volver arriba</a>
</div>
<br />

<script >
	var myCarousel = document.querySelector('.carrusel')
	myCarousel.addEventListener('slid.bs.carousel', function () {
		var carousel = bootstrap.Carousel.getInstance(myCarousel)
		carousel.pause()
	})	

	// Obtener una referencia al botón
  var scrollButton = document.getElementById('scrollButton');
  
  // Función para actualizar la visibilidad del botón
  function updateButtonVisibility() {
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
      // Se ha hecho scroll: mostrar el botón
      scrollButton.style.display = 'inline-block';
    } else {
      // No se ha hecho scroll: ocultar el botón
      scrollButton.style.display = 'none';
    }
  }

  // Actualizar la visibilidad del botón al cargar la página
  updateButtonVisibility();

  // Actualizar la visibilidad del botón cuando se hace scroll
  window.onscroll = updateButtonVisibility;
</script>


