@{
    ViewData["Title"] = "Quiénes somos";
}
<br />
<!-- Team section-->
<div class="container text-center text-white" id="maincont">
    <br />
<h1>Nuestro equipo</h1>
<br />
</div>
<hr />
<div class="row text-center">
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://avatars.githubusercontent.com/u/101130012?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Andrés González</h5>
            <span>(Rada)</span>
            <br />
            <span class="small text-uppercase text-muted">Backend developer</span>
            <ul class="social mb-1 list-inline mt-3">
                <li class="list-inline-item">
                    <a href="https://github.com/Radanes7512" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=62856&format=png" width="30" height="30" />
                    </a>
                </li>                
                <li class="list-inline-item">
                    <a href="https://gitlab.com/Andres.Gonzalez_" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=34886&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com/radamanes" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=32323&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="mailto:apptinpet@gmail.com" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=37246&format=png" width="30" height="30" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End-->
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://avatars.githubusercontent.com/u/93038212?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Rodrigo Domínguez</h5>
            <span>(LambdaR)</span>
            <br />
            <span class="small text-uppercase text-muted">FrontEnd Developer</span>
            <ul class="social mb-1 list-inline mt-3">
                <li class="list-inline-item">
                    <a href="https://github.com/Royvao" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=62856&format=png" width="30" height="30" />
                    </a>
                </li>                
                <li class="list-inline-item">
                    <a href="https://gitlab.com/LambdaR" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=34886&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com/royvao" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=32323&format=png" width="30" height="30" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="mailto:apptinpet@gmail.com" style="text-decoration:none">
                        <img src="https://img.icons8.com/?size=512&id=37246&format=png" width="30" height="30" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End-->
</div>
<!-- End-->
<br />
<style>
    #maincont {
        background-image: url('https://acortar.link/4AQiDB');
        background-size: cover;
        background-repeat: round;
        background-position: center center;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }
    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }

</style>