<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/icon_pawprint.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tinpet_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-warning navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/icon_pawprint_white.png" width="50" height="50" />
                </a>

                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://acortar.link/SwWuBL">Descargar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center bg-warning fixed-bottom">
        <ul class="social mb-1 list-inline mt-3">
            <li class="list-inline-item">
                <a href="https://github.com/Radanes7512/Tinpet_TFG" style="text-decoration:none">
                    <img src="https://img.icons8.com/?size=512&id=62856&format=png" width="30" height="30" />
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://instagram.com/tinpet_es" style="text-decoration:none">
                    <img src="https://img.icons8.com/?size=512&id=32323&format=png" width="30" height="30" />
                </a>
            </li>
        </ul>
        @*<a class="text-decoration-none text-dark" style="margin-right: 15px" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
     <a class="text-decoration-none text-dark" style="margin-right: 15px" asp-area="" asp-controller="Home" asp-action="Privacy">Accesibilidad</a>
        <a class="text-decoration-none text-dark" style="margin-right: 15px" href="https://github.com/Radanes7512/Tinpet_TFG/releases/download/1.0.1-alpha/tinpet_1.0.1-alpha.apk">Descargar</a>
        <a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="About">Sobre nosotros</a>*@
    
      <p>
            © 2023 TINPET
      </p>
    </footer>
    <!-- jQuery (requerido para los componentes de JavaScript de Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript de Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
